/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
.loginmodal-container input[type=text],
input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.loginmodal-container input[type=text]:hover,
input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
  user-select: none; */
}
.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}
.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
.login-help {
  font-size: 12px;
}
#tabs{
        margin-top: 15px;
}
*{text-transform:none;text-decoration:none;margin:0;padding:0}.font-1{font:600 16px open sans}.font-2{font:300 16px open sans}.font-3{font:400 16px open sans}.font-4{font:300 19px open sans}.font-5{font:600 19px open sans}.font-6{font:400 19px open sans}.fundo-inicio{background:#2e2e2e}.inicio{width:492px;height:240px;position:absolute;left:50%;top:50%;margin-top:-130px;margin-left:-246px;text-align:center}.inicio h1{color:#fff;font:600 19px open sans;font-size:50px}.inicio a{color:#fff;font:300 19px open sans;text-decoration:none}.inicio .barra-inicio{color:#eff200;font:300 19px open sans}header{background:url(../images/bg.png)}.faixa-topo{height:38px;background:#fff;margin:11px 0 0}.faixa-topo p{font:600 16px open sans;color:#2d2d2d;font-size:17px}.faixa-topo img{margin:0 10px 0 0}.topo .logo{margin:30px 0 0}.logo-2{padding:0 10px 31px 10px}.linha{border-bottom:2px solid #2d2e2b}#navbar-brand img{padding:30px 0 30px 0}.nav{margin:15px 0 20px 0}.nav>li{display:inline}.nav>li>a{display:inline}.nav a{color:#fff;text-transform:uppercase;text-decoration:none;font:400 16px open sans}.nav>li>a:focus,.nav>li>a:hover{background-color:#2d2e2b}.navbar-inverse{background:0 0}.publicidade-1{margin:35px 0 0}.produtos-destaques a{color:#383838!important}.produtos-destaques h3{font:600 19px open sans}.produtos-destaques p{font:400 16px open sans}.produtos-destaques .obs-produto{font:300 16px open sans}.produtos-destaques-center{border-right:1px solid #e4e4e4}a:focus,a:hover{text-decoration:initial}.carousel{margin-top:20px}.item .thumb{width:25%;cursor:pointer;float:left}.item .thumb img{width:100%;margin:2px}.item img{width:100%}.destaque-promocao{height:auto;margin:40px 0 30px 0}.destaque-promocao p{text-align:center;text-transform:uppercase;font:600 16px open sans;color:#595959;line-height:1.5em;margin:6px 0 0 -4px}.destaque-promocao .destaque-promocao-1{border:2px solid #e6e6e6}.destaque-promocao .destaque-promocao-span{padding:2px 9px 2px 9px;background:#d23232;color:#fff}footer{background:#303030}.rodape p{font:300 16px open sans;text-align:center;color:#fff}.contato{height:114px;margin:35px 0 0}.contato img{margin:0 0 10px 0}.seguranca{width:100%;padding:39px 0 22px 0;background:#2e2e2e}.seguranca p{font:300 16px open sans;color:#fff}.seguranca img{margin:0 0 10px 0}.direitos{margin:20px 0 0}.direitos p{font-size:15px;color:#fff;text-align:center;font:300 16px open sans}.social img{margin:0 0 0 7px}h2{text-transform:uppercase;font:600 19px open sans;font-size:25px;margin:0 0 20px 0}.categorias{margin:0 0 30px 0;border:2px solid #ddd}.categorias p{text-align:center;font:400 16px open sans;color: initial;}.categorias h3{text-align:center;font:600 19px open sans;text-transform:uppercase;color: initial;}.categorias .obs-produto{font:300 16px open sans;color: initial;}.modal-content{width:335px}.modal-content .btn-success{background:#555;border-color:#555;text-transform:uppercase}.popup .nav>li>a{background:#f9f9f9;color:#ccc}.fale-conosco input{background:#e4e2e2;border:none;border-radius:0;box-shadow:none;height:45px}.fale-conosco textarea{background:#e4e2e2;border:none;border-radius:0;box-shadow:none}.fale-conosco .contato-enviar{background:#2d2c29;color:#fff;border:none;border-radius:0;height:40px;width:110px;margin:0 0 0 10px}@media (max-width:400px){.destaque-promocao p{margin:13px 0 0}.destaque-promocao-1{margin:0 0 20px 0}.contato{height:210px}.contato img{margin:8px 0 0}.social{margin:20px 0 0}.social img{margin:0 0 0 15px;text-align:center}.faixa-topo{height:50px}.faixa-topo img{height:23px;width:23px;margin:0 0 0 11px}.faixa-topo .acesso-rapido{float:right}.nav>li{display:block}.nav>li>a{display:block}}@media (max-width:360px){.logo{margin:28px 91px 0}.faixa-topo{height:56px;text-align:center}.nav>li{display:block}.nav>li>a{display:block}}