/*
 * CSS Reset padrão para o Work Control Pro Content Manager.
 * Created on : 06/01/2016, 11:15:16
 * Author     : UpInside Treinamentos
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

object,
embed,
video,
iframe,
iframe['style']{
    max-width: 100%;
    height: auto;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

a img {
    border: none;
}

ul{
    list-style: none;
}

fieldset{border: 0;}
input,
.input,
select,
textarea{
    padding: 8px;
    width: 100%;
    font-size: 0.875em;
    font-weight: 300;
    border: 1px solid #ccc;
}

blockquote{
    padding: 15px 15px 15px 10px;
    background: #F5F5F5;
    border-left: 5px solid #888;
    font-size: 0.875em;
}

input.btn{
    width: auto;
    cursor: pointer;
}

.container{
    float: left;
    width: 100%;
}

.clear{
    clear: both;
}

.ds_block{
    display: block;
}

.ds_inblock{
    display: inline-block;
}

.ds_none,
.none{
    display: none;
}

.al_left{
    text-align: left;
}

.al_right{
    text-align: right;
}

.al_center{
    text-align: center;
    display: block;
}

.fl_left{
    float: left;
}

.fl_right{
    float: right;
}

.m_left{
    margin-left: 15px;
}

.m_right{
    margin-right: 15px;
}

.m_top{
    margin-top: 15px;
}

.m_botton{
    margin-bottom: 15px;
}


.rounded{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

/***********************************
######## CUSTON FORM RESET #########
***********************************/
.label{
    display: block;
    margin-bottom: 15px;
}

.label_50{
    float: left;
    width: 100%;
}

.label_50 .label{
    float: left;
    width: 49%;
}

.label_50 .label:nth-of-type(2n+0){
    margin-left: 2%;
}

.label_50 .label:last-of-type{
    margin-right: 0;
}

.label .legend{
    display: block;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #333;
    font-weight: 300;
    margin-bottom: 5px;
}

.label_check{
    cursor: pointer;
    display: inline-block;
    padding: 6px 0;
    font-size: 0.875em;
    cursor: pointer;
    position: relative;
    padding-left: 22px;
    margin-right: 15px;
    width: auto;
}

.label_check input{
    cursor: pointer;
    width: auto;
    position: absolute;
    left: 0;
    top: 9px;
}

.form_load{
    width: 25px;
    margin-top: -2px;
}

form .section{
    display: block;
    width: 100%;
    font-size: 1.5em;
    font-weight: 300;
    color: #555;
    margin: 20px 0 10px 0;
}

.upload_bar{
    display: block;
    background: #ccc;
}

.upload_bar .upload_progress{
    padding: 5px;
    background: #008068;
    color: #fff;
    text-align: center;
    width: 0%;
    max-width: 100%;
    font-size: 0.8em;
    font-weight: 600;
}


/***********************************
######### CUSTON BUTTONS ###########
***********************************/
.btn{
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    background: #888;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 1px 1px #555;
}

.btn:hover{
    background: #555;
    text-decoration: none;
}

.btn_blue{
    background-color: #0E96E5;
    text-shadow: 1px 1px #096397;
}
.btn_blue:hover{background-color: #096397;}

.btn_green{
    background-color: #00B494;
    text-shadow: 1px 1px #008068;
}
.btn_green:hover{background-color: #008068;}

.btn_yellow{
    background-color: #FAAD50;
    text-shadow: 1px 1px #CC8D41;
}
.btn_yellow:hover{background-color: #CC8D41;}

.btn_red{
    background-color: #F45563;
    text-shadow: 1px 1px #C54550;
}
.btn_red:hover{background-color: #C54550;}

/***********************************
########## FONT COLOR  #############
***********************************/
.font_yellow{color: #FAAD50;}
.font_green{color: #00B494;}
.font_blue{color: #0E96E5;}
.font_red{color: #C54550;}
.font_purple{color: #b78fd3;}
.font_vintage{color: #7eb1bc;}


/***********************************
########## CUSTON ERRO #############
***********************************/
.trigger{
    float: left;
    display: block;
    width: 100%;
    padding: 15px;
    background: #888;
    font-size: 0.875em;
    font-weight: 300;
    color: #fff;
    border: 1px solid #333;
    margin-bottom: 15px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.trigger p{
    margin-top: 8px;
}

.trigger_ajax{
    display: none;
    cursor: pointer;
}

.trigger_success{
    background-color: #DFF0D7;
    border-color: #2A552A;
    color: #2A552A;
}

.trigger_info{
    background-color: #D8EDF8;
    border-color: #22526A;
    color: #22526A;
}

.trigger_alert{
    background-color: #FCF8E2;
    border-color: #675129;
    color: #675129;
}

.trigger_error{
    background-color: #F2DEDE;
    border-color: #853432;
    color: #853432;
}

.trigger_modal{
    position: fixed;
    right: 0;
    top: 0;
    width: 480px;
    max-width: 100%;
    padding: 20px;
    cursor: pointer;
    z-index: 99;
}

/***********************************
########## MODAL MODEL #############
***********************************/
.modal_confirm{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    z-index: 999;
}

.modal_confirm_content{
    display: block;
    width: 500px;
    max-width: 90%;
    margin: 10% auto;
    background: #fff;
    padding: 25px;
    box-shadow: 0 0 5px 0 #000;
}

.modal_confirm_content .title{
    font-size: 1.5em;
    font-weight: bold;
}

.modal_confirm_content .message{
    font-size: 0.875em;
    margin: 10px 0 20px 0;
}

.modal_confirm_content .btn{
    font-size: 0.8em;
}